*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

nav{
	font-family: 'Kaushan Script', cursive;
	position:fixed !important;
	width:100% !important;
	box-shadow: 0px 2px 0px #C75000;
	z-index:1;
}
nav > div a:hover{
	border-bottom:1px solid orange !important;
	color:orange !important;
}
/*body{
	background-image:url("../img/background5.jpeg");
	background-repeat: no-repeat;
	}*/


	#section-name{
		color:#C75000;
		font-size:20px;
	}


	.container{
		background-color:white;
		opacity:.7;
	
		margin-top:5%; 
	
		border-radius:0px;
		font-family: 'Abril Fatface', cursive;
		

	}
	

	.container-photo{
		background-color:transparent;
		padding-top:12%;
		margin:0 auto;



	}
	.cover-photo{
		border-color:#C75000;
		background-repeat: no-repeat;
		height:200px;
		width:200px;
		margin:0 auto;
		border:2px solid #C75000;
		border-radius:50%;
			display:block;

	}

body{
	 font-family: 'Lato';
}

.prog{
	padding-bottom:20px;
}
.caps{
	height:100px;
	width:100px;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  font-family: 'Montserrat';
}

#mainNav .navbar-brand {
  color: #fff;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #18BC9C;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #18BC9C;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat';
}



.myButtonSuccess {
    -moz-box-shadow: 3px 4px 0px 0px #3e7327;
    -webkit-box-shadow: 3px 4px 0px 0px #3e7327;
    box-shadow: 3px 4px 0px 0px #3e7327;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
    background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    background-color:#77b55a;
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    border-radius:18px;
    border:1px solid #4b8f29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:2px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #5b8a3c;
}
.myButtonSuccess:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
    background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
    background-color:#72b352;
}
.myButtonSuccess:active {
    position:relative;
    top:1px;
}

